{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
{% if current_user.role_Id == 1 %}
<div class="alert alert-primary" role="alert">
    <h1 class="text-center text-uppercase text-black font-weight-bold">CHÀO MỪNG {{current_user.ten}} ĐẾN VỚI TRANG QUẢN TRỊ</h1>
</div>
{% else %}
<div class="alert alert-primary" role="alert">
    <h1 class="text-center text-uppercase text-black font-weight-bold">BẠN KHÔNG CÓ QUYỀN TRUY CẬP TRANG NÀY</h1>
</div>
{% endif %}
{% else %}
<h1 class="text-center text-danger">DANG NHAP</h1>
<form action="/login" method="post">
    {% include 'layout/login.html' %}
</form>
{% endif %}
{% endblock %}