{% extends 'admin/master.html' %}

{% block head_meta %}

{{ super() }}


{%endblock%}

{% block body %}

<script src="{{ url_for('static',filename='admin/js/script.js') }}"></script>

<form>
  <label for="day">Chọn ngày xem doanh thu:</label><br>
  <input type="date" id="day" name="day">
  <input type="button" value="Xem" onclick="doanhThuNgay()">
</form>




<br>

<div class="col-md-5 col-xs-12">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">tên bệnh nhân</th>
      <th scope="col">ngày khám</th>
      <th scope="col">tổng tiền trên bill</th>
    </tr>
  </thead>

  <tbody id="danh_sach_ngay">

  </tbody>
</table>
</div>




<form>
  <label for="month">Chọn ngày tháng </label>
  <input type="number" min="1" max="12" id="month" name="month" placeholder="tháng">
  <label for="year">năm:</label>
  <input type="number" min="2020" max="3000" id="year" name="year" value="2021">
  <input type="button" value="Xem" onclick="doanhThuThang()">
</form>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ngày khám</th>
      <th scope="col">tổng tiền trên ngày</th>
    </tr>
  </thead>
  <tbody id="danh_sach_thang">
  </tbody>
</table>
<span id="tong_tien_thang"></span>

    <div>
        <canvas id="doanhThuStatsId"></canvas>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels_doanh_thu = [1,2,3,4,5,6,7,8,9,10,11,12];
    var doanh_thu_data = [0,0,0,0,0,0,0,0,0,0,0,0]
    {%for item in doanh_thu_theo_thang%}
        doanh_thu_data[{{item[0]}}-1] = {{item[1]}}
    {%endfor%}
    const data_doanh_thu = {
      labels: labels_doanh_thu,
      datasets: [{
        label: 'Doanh Thu Các Tháng',
        data: doanh_thu_data,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    };

    const config_doanh_thu = {
      type: 'line',
      data: data_doanh_thu,
    };

      let ctx_doanh_thu = document.getElementById('doanhThuStatsId').getContext('2d')
      new Chart(ctx_doanh_thu, config_doanh_thu)

      {%for item in doanh_thu_theo_thang%}
        console.log( {{item[1]}} )
    {%endfor%}

</script>


{% endblock %}

