{% extends 'admin/master.html' %}

{% block head_meta %}

{{ super() }}
<script src="{{ url_for('static',filename='js/script.js') }}"></script>

{%endblock%}

{% block body %}

<script src="{{ url_for('static',filename='js/script.js') }}"></script>


<form>
  <label for="day">Chọn ngày xem doanh thu:</label><br>
  <input type="date" id="day" name="day">
  <input type="button" value="Xem" onclick="doanhThuNgay()">
</form>




<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">tên bệnh nhân</th>
      <th scope="col">ngày khám</th>
      <th scope="col">tổng tiền trên bill</th>
    </tr>
  </thead>

  <tbody id="danh_sach_ngay">

  </tbody>
</table>
<span id="tong_tien"></span>



<form>
  <label for="month">Chọn ngày tháng </label>
  <input type="number" min="1" max="12" id="month" name="month" placeholder="tháng">
  <label for="year">năm:</label>
  <input type="number" min="2020" max="3000" id="year" name="year" value="2021">
  <input type="button" value="Xem" onclick="doanhThuThang()">
</form>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ngày khám</th>
      <th scope="col">tổng tiền trên ngày</th>
    </tr>
  </thead>
  <tbody id="danh_sach_thang">
  </tbody>
</table>
<span id="tong_tien_thang"></span>
{% endblock %}