<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
<body>

<!-- Side Navigation -->

<script src="{{ url_for('static',filename='doctor/js/script.js') }}"></script>

<!-- Header -->


{%include 'layout/header.html'%}

{% if current_user.is_authenticated and current_user.role_Id ==2  %}
<!-- Modal -->
{%if msg %}
    alert(msg)
{%endif%}

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Oh snap! We just showed you a modal..</h4>
        <h5>Because we can <i class="fa fa-smile-o"></i></h5>
      </header>
      <div class="w3-padding">
        <p>Cool huh? Ok, enough teasing around..</p>
        <p>Go to our <a class="w3-btn" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p>Modal footer</p>
      </footer>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">


<button onclick="thuoc_click()" class="w3-third">
  <div class="w3-card w3-container" style="min-height:250px">
  <h3>Tra cứu thuốc</h3><br>
  <i class="fa fa-medkit w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  </div>
</button>



<button onclick="benh_nhan_click()" class="w3-third">
  <div class="w3-card w3-container" style="min-height:250px">
  <h3>Tra cứu bệnh nhân</h3><br>
  <i class="fa fa-user-plus w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  </div>
</button>



<button onclick="lap_phieu_click()" class="w3-third">
  <div class="w3-card w3-container" style="min-height:250px">
  <h3>Lập phiếu khám bệnh</h3><br>
  <i class="fa fa-plus-square w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  </div>
</button>

  <br><br><br><br>

<div id="thuoc" style="display: none">
    <input class="form-control mr-sm-2" name="kw" type="text" placeholder="Nhap tu khoa...">
    <button class="btn btn-success" onclick="tim_thuoc()">Tim</button>

 <table>
  <thead>
  <tr>
    <th>Id thuốc</th>
    <th>Tên thuốc</th>
    <th>Đơn vị</th>
    <th>Giá</th>
    <th>Số lượng</th>
  </tr>
  </thead>

   <tbody id="thuoc_table">

  </tbody>

</table>
</div>


<div id="benh_nhan" style="display: none">

     <form>
        <label class="radio-inline">
          <input type="radio" id="tim_kiem_theo_ngay" name="tim_kiem_benh_nhan" onchange="radio_btn_changed()">Theo ngày
        </label>
        <label class="radio-inline">
          <input type="radio" id="tim_kiem_theo_ten" name="tim_kiem_benh_nhan" onchange="radio_btn_changed()" checked>Theo tên
        </label>
        <label class="radio-inline">
          <input type="radio" id="tim_kiem_theo_benh" name="tim_kiem_benh_nhan" onchange="radio_btn_changed()">Theo bệnh
        </label>
      </form>
    <input type="date" id="ngay_tim_kiem" name="ngay_tim_kiem" style="display:none">
    <input class="form-control mr-sm-2" name="tim_kiem_kw" type="text" placeholder="Nhap tu khoa...">
    <button class="btn btn-success" onclick="tim_benh_nhan()">Tim</button>

    <table>
  <thead>
  <tr>
    <th>Id Bệnh nhân</th>
    <th>Tên</th>
    <th>Giới tính</th>
    <th>Địa chỉ</th>
    <th>Ngày sinh</th>
    <th>Số điện thoại</th>
  </tr>
  </thead>

   <tbody id="benh_nhan_table" >

  </tbody>

</table>

    <table id="lich_su_kham_benh" style="display: none">
  <thead>
  <tr>
    <th>ID</th>
    <th>Ngày khám</th>
    <th>Triệu chứng</th>
    <th>Bệnh</th>
    <th>Bác sĩ</th>
    <th>Đơn thuốc</th>
  </tr>
  </thead>

   <tbody id="lich_su_kham_benh_data">

  </tbody>
    </table>
</div>



<div id="lap_phieu_kham_benh" style="display: none">

    <input class="form-control mr-sm-2" name="tim_kiem_kw" type="text" placeholder="Nhập tên bệnh nhân...">
    <button class="btn btn-success" onclick="lap_phieu_tim_benh_nhan()">Tim</button>
      <table>
  <thead>
  <tr>
    <th>Id Khám bệnh</th>
    <th>Id Bệnh nhân</th>
    <th>Tên</th>
    <th>Giới tính</th>
    <th>Địa chỉ</th>
    <th>Ngày sinh</th>
    <th>Số điện thoại</th>
  </tr>
  </thead>

   <tbody id="tim_kiem_lap_phieu_kham_benh" >

  </tbody>
      </table>

    <form action="lap-phieu" method="post" class="container">
      <div class="form-group">
        <label for="id">ID Khám bệnh:</label>
        <input type="text" class="form-control" placeholder="Nhập id khám bệnh" id="id" name="id">
      </div>

    <div class="form-group">
        <label for="trieu_chung">Triệu chứng:</label>
        <input type="text" class="form-control" placeholder="" id="trieu_chung" name="trieu_chung">
      </div>

    <label for="benh">Chọn bệnh:</label>
  <select name="benh" id="benh">
      {% for b in benh %}
    <option value="{{b.id}}" >{{b.ten}}</option>
      {%endfor%}
  </select>

  <div id="don_thuoc">
      <div name="don_thuoc" id="0">
      <label for="thuoc">Thuốc:</label>
      <select name="don_thuoc_chi_tiet" onchange="">
      {% for t in thuoc %}
        <option value="{{t.id}}" >{{t.tenThuoc}}</option>
      {%endfor%}
      </select>
      <label for="cach_dung">Cách dùng:</label>
      <select name="cach_dung">
      {% for c in cach_dung %}
        <option value="{{c.id}}" id="cach_dung">{{c.ten}}</option>
      {%endfor%}
      </select>
      <label for="so_luong">Số lượng:</label>
      <input type="text" id="so_luong" class="" placeholder="Số lượng" name="so_luong">
      </div>
  </div>
        <br>
    <div class="btn btn-success" onclick="them_thuoc_click()">Thêm thuốc</div>
    <div class="btn btn-danger" onclick="xoa_thuoc_click()">Xóa thuốc</div>

        <br><br>
  <input type="submit" class="btn btn-primary" value="Thêm"/>
</form>

</div>


</div>
{%else%}
<h1>Bạn không thể truy cập trang này</h1>
{%endif%}

<script>
  function thuoc_click(){
    document.getElementById("benh_nhan").style.display = "none";
    document.getElementById("lap_phieu_kham_benh").style.display = "none";
    let table = document.getElementById("thuoc");
    table.style.display = "block";
  }

  function benh_nhan_click(){
    document.getElementById("thuoc").style.display = "none"
    document.getElementById("lap_phieu_kham_benh").style.display = "none";
    let table = document.getElementById("benh_nhan")
    table.style.display = "block"
  }

  function lap_phieu_click(){
    document.getElementById("thuoc").style.display = "none"
    document.getElementById("benh_nhan").style.display = "none"
    document.getElementById("lap_phieu_kham_benh").style.display = "block"
  }

  function radio_btn_changed(){
    if(document.getElementById("tim_kiem_theo_ngay").checked){
        document.getElementById("ngay_tim_kiem").style.display = ""
        document.getElementsByName("tim_kiem_kw")[0].style.display = "none"
    }
    else if(document.getElementById("tim_kiem_theo_ten").checked){
        document.getElementById("ngay_tim_kiem").style.display = "none"
        document.getElementsByName("tim_kiem_kw")[0].style.display = ""
    }
    else{
        document.getElementById("ngay_tim_kiem").style.display = "none"
        document.getElementsByName("tim_kiem_kw")[0].style.display = ""
    }
  }




</script>

</body>
</html>
